body {
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:red;
}
.li-link{
    display:inline-block;
    margin:8px;
    font-size:17px;
    color:white;
    
}
.nav{
  
   
    width:100%;
    height:40px;
    background-color:#9088D4;
}
.link{
    color:white;
    text-decoration:none;
}
.link:hover{
    color:black;
}
.auto-style1 {
    width: 698px;
}

.auto-style2 {
    width: 100%;
    height: 100%;
}

.auto-style3 {
    height: 20px;
    width: 49px;
}

.auto-style4 {
    width: 48px;
}

.auto-style5 {
    width: 135%;
    height: 50px;
    background-color: #9088D4;
}
.main{
    margin-top:15px;
    
}


.job-title {
    text-align: center;
    margin: 8px;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: #9088d4;
}

.filter-title {
    text-align: left;
    margin: 12px;
    color: #7579e7;
    font-weight:bold;
}
.filters {
    background-color: #9088d4;
    margin: 10px;
    padding: 10px;
    color: white;
}
#FiterJob{
    
}
.jobs-available {
   /* border: 1px solid red;*/
    margin: 10px;
    background-color:white;
}


/*styling for jobs div */
.drop-down-filter {
    text-align: center;
    /* border: 1px solid red;*/
    background-color: #fceef5;
    padding: 10px;
    margin:10px;
}
li {
    display: inline-block;
    margin: 15px;
    font-size: 12px;
    color: #7e7474;
}
.job-details{
    background-color:white;
    border:1px solid yellow;
    margin:10px;
    padding:10px;
    width:500px;

}
.find-job-title {
   
    color: #f6830f;
    padding: 5px;
    background-color: #f1f6f9;
}
.view-details{
    text-align:right;
    font-size:12px;
    margin:10px;
}
hr {
    color: #7e7474;
}
/***********************************************/

.main-div{
  position:relative;
  top:-27%;
  left:350px;
  width:500px;
 
 
}
.filter-box {
    margin-top:10px;
    position:sticky;
    margin-left:20px;

}
.jobs {
   
   
    margin: 10px;
    padding: 10px;
    border-radius:10px;
    background-color: #fceef5;
}
.not-found{
   
}
/****Styling for job view details Page*/
.ViewDetails{
    margin-top:10px;
    padding:30px;
    border:1px solid red;
}
.ApplyButton{
    text-align:center;
    padding:10px;
    margin-top:100px;

}
.view-details-job-title{
    text-align:center;

}
/************************************************/